<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>checkLoginServlet</servlet-name>
        <servlet-class>parking.checkLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCustomerServlet</servlet-name>
        <servlet-class>parking.addCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchCustomerServlet</servlet-name>
        <servlet-class>parking.searchCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBookingServlet</servlet-name>
        <servlet-class>parking.addBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchVehicleServlet</servlet-name>
        <servlet-class>parking.searchVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addVehicleServlet</servlet-name>
        <servlet-class>parking.addVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchVacantServlet</servlet-name>
        <servlet-class>parking.searchVacantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmBookingServlet</servlet-name>
        <servlet-class>parking.confirmBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmVipBookingServlet</servlet-name>
        <servlet-class>parking.confirmVipBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfiirmVipBookingServlet</servlet-name>
        <servlet-class>parking.ConfiirmVipBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confrimVipBookingServlet</servlet-name>
        <servlet-class>parking.confrimVipBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchBookingServlet</servlet-name>
        <servlet-class>parking.searchBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkinBookingServlet</servlet-name>
        <servlet-class>parking.checkinBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutBookingServlet</servlet-name>
        <servlet-class>parking.checkoutBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmCheckout</servlet-name>
        <servlet-class>confirmCheckout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkLoginServlet</servlet-name>
        <url-pattern>/checkLoginServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>addCustomerServlet</servlet-name>
        <url-pattern>/addCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchCustomerServlet</servlet-name>
        <url-pattern>/searchCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBookingServlet</servlet-name>
        <url-pattern>/addBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchVehicleServlet</servlet-name>
        <url-pattern>/searchVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addVehicleServlet</servlet-name>
        <url-pattern>/addVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchVacantServlet</servlet-name>
        <url-pattern>/searchVacantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmBookingServlet</servlet-name>
        <url-pattern>/confirmBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmVipBookingServlet</servlet-name>
        <url-pattern>/confirmVipBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confrimVipBookingServlet</servlet-name>
        <url-pattern>/confrimVipBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchBookingServlet</servlet-name>
        <url-pattern>/searchBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkinBookingServlet</servlet-name>
        <url-pattern>/checkinBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutBookingServlet</servlet-name>
        <url-pattern>/checkoutBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmCheckout</servlet-name>
        <url-pattern>/confirmCheckout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3000000
        </session-timeout>
    </session-config>
</web-app>
